body {
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

button {
    border: none;
    color: white;
    padding: 10px;
    min-width: 150px;
    font-weight: bold;
}

button.secondary {
    background-color: dodgerblue;
}
button.primary {
    background-color: green;
}
.right {
    float: right;
}
.left {
    float: left;
}
.clearfix {
    clear: both;
}
label {
    font-weight: bold;
}
input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 12px;
    font-size: 16px;
    font-weight: normal;
}

#message {
    display: none;
    color: red;
    border: 1px solid red;
    padding: 5px;
}